[alias]
  ass = add
  suck = pull
  poop = push
  trees = branch
  fuckoff = checkout
  dolly = clone
  vomit = commit
  look = diff
  stole = fetch
  comeon = init
  showme = log
  stick = merge
  getout = mv
  takeit = rebase
  cleandat = reset
  forkyou = rm
  strip = show
  speak = status
  whodidthis = blame
  cheat = gui
  whereami = show-branch
